<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Set Basic Amount</h4>
                        <br>
                        <div class="category" (click)="listPage()" style="cursor: hand; cursor: pointer;">
                            <app-icons  class="pe-7s-menu">List</app-icons>
                        </div>
                    </div>
                    <div class="content">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input [(ngModel)]="amount" type="text" class="form-control" placeholder="Basic Amount">
                                </div>
                            </div>
                        </div>

                        <button (click)="save()" class="btn btn-info btn-fill pull-left">Save</button>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

